:root {
  --Ver-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish: hsl(303, 10%, 53%);
  --Light-Grayish: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-pattern-top-mobile.svg") no-repeat,
    url("../images/bg-pattern-bottom-mobile.svg") top 350px right 80px no-repeat;
}

main {
  padding-top: 3em;
  width: 100%;
  height: 100%;

  text-align: center;
  font-family: "League Spartan", sans-serif;
}

main h1 {
  padding: 0 2.3em;
  color: var(--Ver-Dark-Magenta);
  font-weight: 700;
}

.main-info {
  color: var(--Dark-Grayish);
  font-weight: 500;
  padding: 1em 2em 0em;
}

.rated-info {
  color: var(--Ver-Dark-Magenta);
  font-weight: 700;
}
.rated-info01 {
  border: none;
  margin: 1em auto;
  background-color: var(--Light-Grayish);
  border-radius: 0.5em;
  width: 90%;
  padding: 0.5em;
}

.rated-info02 {
  border: none;
  margin: 1em auto;
  background-color: var(--Light-Grayish);
  border-radius: 0.5em;
  width: 90%;
  padding: 0.5em;
}
.rated-info03 {
  border: none;
  margin: 1em auto;
  background-color: var(--Light-Grayish);
  border-radius: 0.5em;
  width: 90%;
  padding: 0.5em;
}
.rated-info p {
  padding: 0.5em;
}
.customer-opinion01 {
  text-align: left;
  border: none;
  margin: 1em auto;
  background-color: var(--Ver-Dark-Magenta);
  border-radius: 0.5em;
  width: 90%;
  padding: 1.5em 3em 1.5em 2.5em;
}

.left-text {
  padding-left: 3.2em;
  padding-top: 0.2em;
  color: var(--White);
  font-weight: 700;
}

.left-text span {
  color: var(--Soft-Pink);
  font-weight: 500;
}

.customer-opinion02 {
  text-align: left;
  border: none;
  margin: 1em auto;
  background-color: var(--Ver-Dark-Magenta);
  border-radius: 0.5em;
  width: 90%;
  padding: 1.5em 3em 1.5em 2.5em;
}

.central-text {
  padding-top: 1em;
  color: var(--White);
  text-align: left;
}
.customer-opinion03 {
  text-align: left;
  border: none;
  margin: 1em auto;
  background-color: var(--Ver-Dark-Magenta);
  border-radius: 0.5em;
  width: 90%;
  padding: 1.5em 3em 1.5em 2.5em;
}

.customer-opinion01 img {
  width: 35px;
  height: 35px;
  object-fit: fill;
  border-radius: 50%;
}

.customer-opinion02 img {
  width: 35px;
  height: 35px;
  object-fit: fill;
  border-radius: 50%;
}
.customer-opinion03 img {
  width: 35px;
  height: 35px;
  object-fit: fill;
  border-radius: 50%;
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 900px) {
  body {
    max-height: 100vh;
    background: url("../images/bg-pattern-top-desktop.svg") no-repeat,
      url("../images/bg-pattern-bottom-desktop.svg") bottom 200px right -550px no-repeat;
  }
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .main-text {
    max-width: 500px;
  }
  .main-text h1 {
    margin: 0em 1em 0.2em;
    padding: 0 3em;
  }
  .main-text p {
    text-align: justify;
    margin: 0em auto;
    padding: 0.5em 1em 0em 8em;
    line-height: 1.5;
  }
  .rated-info {
    max-width: 500px;
    margin: 0em 3em -6em;
    padding: 0em 1em;
    line-height: 2;
  }
  .rated-info img {
    width: 15px;
    height: 15px;
    object-fit: fill;
  }
  .rated-info01 {
    width: 100%;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .rated-info02 {
    margin-left: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .rated-info03 {
    margin-left: 118px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .customer-opinion {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  .customer-opinion img {
    width: 55px;
    height: 55px;
    object-fit: fill;
    border-radius: 50%;
  }

  .left-text {
    margin-left: 1.5em;
  }
  .customer-opinion div {
    max-width: 30%;
    padding: 2em 3.5em;
    line-height: 1.5;
  }
  .customer-opinion02 {
    margin-top: 5em;
  }
  .customer-opinion03 {
    margin-top: 8em;
  }
}
